<% if current_user.nil? %>
  <%= link_to 'Sign in with Dropbox', user_omniauth_authorize_path('dropbox_oauth2') %><br>
  <%= link_to 'Sign in with Google', user_omniauth_authorize_path('google_oauth2') %><br>
  <%= link_to 'Sign in', new_user_session_path %>
<% else %>
  <%= render 'files/create_text/create_from_textbox' %>
  <%= render 'search/home' %>
  <div style="border:solid" ng-controller="DragDropCtrl">
    <div b-dropzone the-files="droppedFiles" drop="isDropped" saved="isSaved" info="message" no-type="notSaved">
      <span>Put stuff here</span>
    </div>
    <div ng-show="isDropped">
      <!-- TODO: check strings for saving later -->
      <button ng-click="saveOpt('dropbox')">Dropbox</button>
      <button ng-click="saveOpt('google')">Drive</button>
      <button ng-click="saveOpt('local')">Local</button>
      <button ng-click="saveOpt('')">Cancel</button>
    </div>
    <span>{{notSaved}}</span>
    <div ng-show="isSaved" ng-if="getSavedFiles()">
      <span>{{message}}</span>
      <b-file-list files=savedFiles></b-file-list>
      </div>
    </div>
  </div>
<% end %>

