<% if current_user.nil? %>
  <%= link_to 'Sign in with Dropbox', user_omniauth_authorize_path('dropbox_oauth2') %><br>
  <%= link_to 'Sign in with Google', user_omniauth_authorize_path('google_oauth2') %><br>
  <%= link_to 'Sign in', new_user_session_path %>
<% else %>
  <%= form_for(BruseFile.new, url: upload_path) do |f| %>
    <div class="field">
      <%= f.label :file %>
      <%= f.file_field :file %>
    </div>
    <% current_user.identities.each do |identity| %>
      <%= radio_button_tag(:service, identity.id, check(identity, current_user)) %>
      <%= label_tag(:service, identity.name) %>
    <% end %>
    <div class="actions">
      <%= f.submit "Upload" %>
    </div>
  <% end %>
  <%= render 'files/create_text/create_from_textbox' %>
  <%= render 'search/home' %>
  <div style="border:solid" ng-controller="DragDropCtrl">
    <div b-dropzone the-files="droppedFiles" drop="isDropped" saved="isSaved" info="message" no-type="notSaved">
      <span>Put stuff here</span>
    </div>
    <div ng-show="isDropped">
      <!-- TODO: check strings for saving later -->
      <% current_user.identities.each do |identity| %>
        <button ng-click="saveOpt({id:'<%= identity.id %>', name: '<%= identity.name %>'})"><%= identity.name %></button>
      <% end %>
      <button ng-click="saveOpt('')">Cancel</button>
    </div>
    <span>{{notSaved}}</span>
    <div ng-show="isSaved" ng-if="getSavedFiles()">
      <span>{{message}}</span>
      <b-file-list files={{savedFiles}}></b-file-list>
    </div>
  </div>
<% end %>

