<% if current_user.nil? %>
  <%= link_to 'Log in using Dropbox', '/auth/dropbox_oauth2' %>
  <br>
  <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
<% else %>
  <%= link_to 'Sign out user', signout_path %>
  <%= current_user.name %>
  <ul>
    <% current_user.identities.each do |id| %>
      <li>
        <%= id.name %>
        <%= link_to 'Add more files', new_file_path(identity_id: id.id) %>
      </li>
    <% end %>
  </ul>
<% end %>