<script type="text/ng-template" id="fileTree">
  {{file.name}}
  <a href="#" ng-click="expand(file)" ng-if="file.is_dir">{{file.expand ? 'collapse' : 'expand'}}</a>
  <ul ng-if="file.is_dir && file.expand && file.contents">
    <li ng-repeat="file in file.contents" ng-include="'fileTree'"></li>
  </ul>
</script>

<div ng-controller="FileCtrl">
  <h1>
    Hi, <%= current_user["name"] %>!
  </h1>

  <p ng-if="message.length > 0">
    {{message}}
  </p>

  <h2>
    Files
  </h2>

  <ul>
    <li ng-repeat="file in files" ng-include="'fileTree'"></li>
  </ul>

  <%= link_to "Parent folder", files_path(path: @parent_path) %>

  <ul>
    <% @file["contents"].each do |c| %>
      <li>
        <% if c["is_dir"] %>
          <%= link_to c["path"], files_path(path: c["path"]) %>
        <% else %>
          <%= c["path"] %>
        <% end %>
        <!-- <pre>
          <%= c.inspect %>
        </pre>
      </li>
    <% end %>
  </ul> -->
</div>
