<h2><%= current_user.name %></h2>

<h3>Linked accounts</h3>
<% current_user.identities.each do |id| %>
  <p><%= id.name %> - <%= link_to('unlink', destroy_provider_path(id.id), :method => 'delete') if id.service != 'local' %></p>
<% end %>
<p><%= link_to 'Add Dropbox account', user_omniauth_authorize_path('dropbox_oauth2') %></p>
<p><%= link_to "Add Google account", user_omniauth_authorize_path('google_oauth2') %></p>

<% if !current_user.own_password %>
<p>Would you like to add a password to your account?</p>
<small>By doing this, you will have access to a magical world</small>
<%= link_to "Click here", new_user_password_path %>
<% end %>
