<h2><%= current_user.name %></h2>

<h3>Linked accounts</h3>
<% current_user.identities.each do |id| %>
  <% if id.service != "local" %>
  <p><%= id.name %> - <%= link_to('unlink', destroy_provider_path(id.id), :method => 'delete')%></p>
  <% end %>
<% end %>
<% User.nice_omniauth_providers.each do |provider| %>
  <p><%= link_to "Add #{provider[:name].to_s} account", user_omniauth_authorize_path(provider[:id]) %></p>
<% end %>

<% if !current_user.own_password %>
  <p>Would you like to add a password to your account?</p>
  <small>By doing this, you will have access to a magical world</small>

  <%= form_for(current_user, url: password_path(current_user), html: { method: :post }) do |f| %>
    <%= f.hidden_field :email, autofocus: true %>
    <div class="actions">
      <%= f.submit "Send me password instructions" %>
    </div>
  <% end %>

<% end %>
