<script type="text/javascript">
  // global js object to give frontend access to current identity
  IDENTITY_PARAMS = {
    id: <%= @identity.id %>,
    service: "<%= @identity.service %>"
  };
</script>
<script type="text/ng-template" id="fileTree">
  <%= render 'files/files/file_tree' %>
</script>

<script type="text/ng-template" id="fileBrowse">
  <%= render 'files/browse/file_browse' %>
</script>

<script type="text/ng-template" id="tagCreate">
  <%= render 'tags/tag_create' %>
</script>

<div ng-view></div>


<%= link_to 'My files', bruse_files_path, target: "_self" %>
