
<h1>Welcome <%= current_user.name %></h1>

<h1>Listing Files</h1>

<%= form_for(@bruse_file, url: upload_path) do |f| %>
  <div class="field">
    <%= f.label :file %>
    <%= f.file_field :file %>
  </div>
  <div class="actions">
    <%= f.submit "Upload" %>
  </div>
<% end %>

<b-file-list></b-file-list>

<div class="popup-gallery">
  <a ng-href="{{file.paths.add_tags}}" href="http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_b.jpg" title="The Cleaner"><img src="http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_s.jpg" width="75" height="75"></a>
</div>
