<h1>Welcome <%= current_user.name %></h1>

<h1>Listing Files</h1>

<%= form_for(@bruse_file, url: upload_path) do |f| %>
  <div class="field">
    <%= f.label :file %>
    <%= f.file_field :file %>
  </div>
  <% current_user.identities.each do |identity| %>
    <%= radio_button_tag(:identity_id, identity.id, check(identity, current_user)) %>
    <%= label_tag(:identity_id, identity.name) %>
  <% end %>
  <div class="actions">
    <%= f.submit "Upload" %>
  </div>
<% end %>

<b-file-list></b-file-list>

