<h1>Welcome <%= current_user.name %></h1>

<h1>Listing Files</h1>

<%= form_for(@bruse_file, url: upload_path) do |f| %>
  <div class="field">
    <%= f.label :file %>
    <%= f.file_field :file %>
  </div>
  <div class="actions">
    <%= f.submit "Upload" %>
  </div>

  <% current_user.identities.each do |identity| %>
    <%= radio_button_tag(:service, identity.id) %>
    <%= label_tag(:service_dropbox, identity.name) %>
  <% end %>

<% end %>

<b-file-list></b-file-list>

