<header class="main-header">
  <div class="container">
    <nav>
      <%= link_to 'Bruse', root_url, target: "_self" %>
      <%= link_to 'My files', bruse_files_path, target: "_self" %>
    </nav>
    <nav class="right">
      <% if current_user.identities.any? %>
        <% current_user.identities.each do |identity| %>
          <%= link_to "Add files (#{identity.name})", new_file_path(identity_id: identity.id), target: "_self" unless identity.service == 'local' %>
        <% end %>
      <% end %>
      <span><%= fa_icon('user') + current_user.name %></span>
      <%= link_to fa_icon('cog') + 'Settings', profile_path, target: "_self" %>
      <%= link_to fa_icon('sign-out') + 'Sign out', destroy_user_session_path, method: :delete, target: "_self" %>
    </nav>
  </div>
</header>
