<!DOCTYPE html>
<html>
<head>
  <title>Bruse</title>
  <base href="/">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!--[if lt IE 9]>
    <%= javascript_include_tag 'html5shiv' %>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
<body ng-app="bruseApp">
  <%= render 'layouts/header' %>

  <main class="content container">
    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key}" %>
    <% end %>

    <%= yield %>
  </main>

  <%= render 'layouts/footer' %>
</body>
</html>
